{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="{% static "css/bootstrap.min.css" %}">
    <title>BookTime</title>
    <!-- Booktime version: {{ VERSION }} -->
    <script charset="utf-8">
        var tracker_id = {{ GA_TRACKER_ID }};
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">BookTime</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li
            class="nav-item {% if request.path == "/" %}active{% endif %}">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li
            class="nav-item {% if request.path == "/about-us/" %}active{% endif %}">
            <a class="nav-link" href="/about-us/">About us</a>
          </li>
          <li
            class="nav-item {% if request.path == "/contact-us/" %}active{% endif %}">
            <a class="nav-link" href="/contact-us/">Contact us</a>
          </li>

        </ul>
      </div>
    </nav>
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          {% if request.basket %}
            <div>
              {{ request.basket.count }}
              items in basket
            </div>
          {% endif %}
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
